* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    text-rendering: optimizeLegibility;
}

/*color variables*/
:root {
    --mycol-1: #00bfa9;
    --accent: #00ffa9;
    --mycol-2: #0076bf;
    --accent-2: #00a1b1;
    --light3: #eee;
    --dark3: #32323e;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: var(--dark3);
}

html,
.st1 {
    font-family: Lato, Roboto, Open-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
}

h3 {
    line-height: 130%;
}

nav {
    color: #fff;
    background-color: transparent;
    width: 100%;
    height: 64px;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 64px;
}

nav ul a:hover {
    background: transparent;
}

.sidenav {
    height: 100%;
    width: 50%;
    padding-top: 64px;
    background-color: var(--mycol-1);
    z-index: 998;
}

.bluegreen {
    background-color: var(--mycol-1) !important;
}

.bluegreen-text {
    color: var(--mycol-1) !important;
}

.greenblue {
    background-color: #00a1b1 !important;
}

.greenblue-text {
    color: #00a1b1 !important;
}

.green3 {
    background-color: var(--accent);
}

.green3-text {
    color: var(--accent);
}

.blue3 {
    background-color: var(--mycol-2) !important;
}

.blue3-text {
    color: var(--mycol-2) !important;
}

.light3 {
    background-color: var(--light3);
}

.light3-text {
    color: var(--light3);
}

.dark3 {
    background-color: var(--dark3);
}

.dark3-text {
    color: var(--dark3);
}

.orange3 {
    background-color: #ea3d0f !important;
}

.orange3-text {
    color: #ea3d0f !important;
}

.zero {
    top: 0;
    left: 0;
    position: relative;
    height: 100vh;
    width: 100%;
    padding-bottom: 64px;
    -webkit-transform-origin: top;
    transform-origin: top;
    background-color: var(--mycol-1);
    background: var(--mycol-1);
    background: linear-gradient(-45deg, var(--mycol-1) 31%, var(--mycol-2) 200%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--mycol-1)', endColorstr='var(--mycol-2)', GradientType=1);
}

.first {
    padding-top: 64px;
    position: relative;
    width: 100%;
    background-color: var(--light3);
}

.zero:after,
.first:after,
.second:after,
.third:after,
.fourth:after,
.footer:after,
.footer-main:after {
    content: "";
    display: table;
    clear: both;
}

.margin-top {
    margin-top: 200px;
}

.margin-bot {
    margin-bottom: 2em;
}

.second {
    padding-top: 64px;
    position: relative;
    width: 100%;
    background-color: var(--light3);

}

.third {
    padding-top: 64px;
    position: relative;
    /*    min-height: 100vh;*/
    padding-bottom: 64px;
    width: 100%;
    margin-bottom: 300px;
    background-color: var(--dark3);
}

.fourth {
    position: relative;
    /*    padding-top: 64px;*/
    width: 100%;
    background: var(--light3);
}

.first .container .big-img,
.second .container .big-img,
.third .container .big-img {
    -webkit-animation: simpleHoverY 6s ease-in-out infinite;
    animation: simpleHoverY 6s ease-in-out infinite;
}

@-webkit-keyframes simpleHoverY {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(-3px, 0px, 0);
        transform: translate3d(-3px, 0px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0);
        transform: translate3d(0, 0);
    }
}

@keyframes simpleHoverY {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(-5px, 0px, 0);
        transform: translate3d(-5px, 0px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0);
        transform: translate3d(0, 0);
    }
}

.content h4 span {
    -webkit-box-shadow: inset 0 -0.7rem var(--accent);
    box-shadow: inset 0 -0.7rem var(--accent);
}

.social {
    height: 64px;
}

.navbar-fixed {
    width: 100%;
    position: fixed;
    height: 64px;
    z-index: 999;
    color: #fff;
    background: transparent;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}

.navbar-fixed.scrolled {
    background-color: var(--mycol-1);
    background: linear-gradient(-45deg, var(--mycol-1) 31%, var(--mycol-2) 200%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--mycol-1)', endColorstr='var(--mycol-2)', GradientType=1);
}

#navbar .scrolled .brand-name {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0 !important;
}

#navbar .scrolled #logo-svg {
    -webkit-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
    opacity: 1 !important;
}

.brand-logo {
    top: -64px;
    overflow: hidden;
    -webkit-transition: top 200ms ease-in-out;
    transition: top 200ms ease-in-out;
}

.brand-logo #logo-svg {
    /*
    -webkit-transition-delay: 100ms;
        transition-delay: 100ms;
*/
    -webkit-transition-duration: 250ms !important;
    transition-duration: 250ms !important;
    -webkit-transition: -webkit-transform opacity ease-in-out;
    transition: -webkit-transform opacity ease-in-out;
    transition: transform opacity ease-in-out;
    transition: transform opacity ease-in-out, -webkit-transform opacity ease-in-out;
    -webkit-transform: translateY(64px);
    transform: translateY(64px);
    opacity: 0;
    height: 64px;
    margin: auto;
}

.brand-logo .brand-name {
    /*    height: 64px;*/
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
    -webkit-transition-duration: 300ms !important;
    transition-duration: 300ms !important;
    opacity: 1;
    -webkit-transform: translateY(64px);
    transform: translateY(64px);
    -webkit-transition: -webkit-transform opacity ease-in-out;
    transition: -webkit-transform opacity ease-in-out;
    transition: transform opacity ease-in-out;
    transition: transform opacity ease-in-out, -webkit-transform opacity ease-in-out;
    margin: auto;
}

.sidenav li > a {
    color: #fff;
}

.sidenav li > a:hover {
    background-color: rgba(0, 255, 169, 0.18);
}

.sidenav li .nav-list.active {
    background-color: rgba(0, 255, 169, 0.18);
}

.footer {
    z-index: 999;
    /*
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
*/
    position: fixed;
    bottom: 0em;
    right: -1em;
    min-height: 21px;
    margin: auto;
    width: 110%;
    font-size: 0.6em;
    color: var(--light3);
    background-color: var(--mycol-1);
}

.footer {
    -webkit-clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0% 100%);
}

.footer.scrolled {
    background-color: var(--mycol-1);
}

.footer-child p {
    cursor: crosshair;
    color: var(--light3);
}

.footer-child {
    /*
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
*/
    margin: auto 3% auto auto;
}

.nav-list {
    text-transform: uppercase;
    margin: auto;
}

#nav-cont {
    float: right;
    width: 33%;
}

.nav-cont {
    float: right;
}

@media only screen and (min-width : 992px) {
    nav a.button-collapse {
        display: none;
    }
}

nav .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 64px;
    width: 64px;
}

nav #big-nav {
    position: relative;
    top: -0.5px;
}

nav #big-nav li {
    float: left;
    list-style: none;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    padding: 0;
}

nav #big-nav li:hover {
    color: #fff;
    -webkit-box-shadow: inset 0 -4px #fff;
    box-shadow: inset 0 -4px #fff;
}

nav #big-nav li:hover a {
    color: #fff;
}

#big-nav li a.active {
    will-change: left, right;
    color: #fff;
    -webkit-box-shadow: inset 0 5px var(--accent);
    box-shadow: inset 0 5px var(--accent);
}

nav #big-nav li a {
    color: #efefef;
    font-size: 1rem;
    display: block;
    padding: 0 15px;
}

@media only screen and (min-width: 601px) {
    nav a.sidenav-trigger {
        display: none;
    }
}

.sidenav-trigger {
    margin-top: -3px !important;
}

.sidenav-trigger:after {
    content: 'MENU';
    font-size: 0.7em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 1rem;
}

.menu-2 {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-2:before,
.menu-2:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-2 {
    /*    background-color: rgba(239, 239, 239, 0);*/
}

.menu-2:hover {
    border-color: #05e8b4;
}

.menu-2:before,
.menu-2:after {
    background-color: #fff;
    height: 4px;
    width: 30px;
    top: 50%;
    left: 50%;
    margin-left: -15px;
}

.menu-2:before {
    margin-top: -6px;
}

.menu-2:after {
    margin-top: 4px;
}

.menu-2-active {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    /*    border-radius: 50%;*/
    /*    opacity: 1;*/
}

.menu-2-active:before,
.menu-2-active:after {
    margin-left: -15px !important;
    margin-top: -2px !important;
}

.menu-2-active:after {
    -webkit-transform: rotate(-90deg) !important;
    transform: rotate(-90deg) !important;
}

.logo {
    margin: 0;
    height: 35vh;
    margin-top: 15px;
    margin-bottom: 15px;
    -ms-flex-line-pack: center;
    align-content: center;
    background-image: url(/3logo/untitled-white.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

@media only screen and (min-width: 601px) {
    .logo.scrolled {
        -webkit-transform: scale(0.2);
        transform: scale(0.2);
    }
}

.intro-logo {
    /*    overflow: hidden;*/
    margin: auto;
    width: 100%;
}

.valign-wrapper1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 50%;
    /*    margin-left: 50%;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;


}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
    background-color: rgba(0, 191, 169, 0.95);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.54);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 191, 169, 0.27);
}

.hide-on-hover:hover {
    display: none;
}

.desc {
    margin-top: 5px;
    border-top: 1.2px dashed #fff;
    /*    border-left: 1.2px dashed #fff;*/
    width: 80%;
    margin: 0 auto;
}

.num-big {
    /*    line-height: 2.7rem;*/
    font-size: 2.7rem;
}

.content {
    /*    top: 30%;*/
    margin: auto;
}


.padding {
    padding: 1em !important;
}

.padding-bot {
    padding-bottom: 1em !important;
}

.padding-top {
    padding-top: 1em !important;
}

.padding-right {
    padding-right: 1em !important;
}

.padding-left {
    padding-left: 1em !important;
}

.caption {
    position: relative;
    top: -1em;
}

.divider {
    position: relative;
    /*    top: 64px;*/
    height: 1px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: var(--mycol-1);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), color-stop(50%, #fff), to(rgba(255, 255, 255, 0.1)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, #fff 50%, rgba(255, 255, 255, 0.1) 100%);
}

.divider:after,
.divider:before {
    content: "";
    display: table;
    clear: both;
}

.flowing-text {
    margin: 1.9rem auto !important;
    height: inherit;
    background: linear-gradient(-135deg, var(--mycol-1) 31%, var(--mycol-2) 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flowing-text-rev {
    margin: 1.9rem auto !important;
    background: linear-gradient(135deg, var(--mycol-1) 31%, var(--mycol-2) 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quote {}

.quote:after {
    content: '';
    left: 10%;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    position: absolute;
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), color-stop(50%, #ea3d0f), to(rgba(255, 255, 255, 0.1)));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, #ea3d0f 50%, rgba(255, 255, 255, 0.1) 100%);
}

uline {
    text-decoration: underline;
    text-transform: capitalize;
}

.stretch_it {
    white-space: nowrap;
}

.justify {
    text-align: justify;
}

.palette {
    position: absolute;
    bottom: 0;
}

.palette-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    font-size: 0.8rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid #fff;
    border-radius: 10%;
}


.fb {
    width: 100%;
    height: 100%;
    background: #3b5998;
    color: #ffffff !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.fb h5 {
    color: #fff;
}

.fb:hover {
    -webkit-box-shadow: inset 0 -100px #fff;
    box-shadow: inset 0 -100px #fff;
}

.fb:hover h5 {
    color: #3b5998;
}

.twit {
    width: 100%;
    height: 100%;
    background: #1da1f2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.twit h5 {
    color: #fff;
}

.twit:hover {
    -webkit-box-shadow: inset 0 -100px #fff;
    box-shadow: inset 0 -100px #fff;
}

.twit:hover h5 {
    color: #1da1f2;
}

.insta {
    width: 100%;
    height: 100%;
    background: #c32aa3;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.insta h5 {
    color: #fff;
}

.insta:hover {
    -webkit-box-shadow: inset 0 -100px #fff;
    box-shadow: inset 0 -100px #fff;
}

.insta:hover h5 {
    color: #c32aa3;
}

.behance {
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.behance h5 {
    color: #fff;
}

.behance:hover {
    -webkit-box-shadow: inset 0 -100px #fff;
    box-shadow: inset 0 -100px #fff;
}

.behance:hover h5 {
    color: #000;
}

.dribbble {
    width: 100%;
    height: 100%;
    background: #ea4c89;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.dribbble:hover {
    -webkit-box-shadow: inset 0 -100px #fff;
    box-shadow: inset 0 -100px #fff;
}

.dribbble h5 {
    color: #fff;
}

.dribbble:hover h5 {
    color: #ea4c89;
}

.discord {
    width: 100%;
    height: 100%;
    background: #7289da;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.discord:hover {
    -webkit-box-shadow: inset 0 -100px #fff;
    box-shadow: inset 0 -100px #fff;
}

.discord h5 {
    color: #fff;
}

.discord:hover h5 {
    color: #7289da;
}

.email {
    width: 100%;
    height: 100%;
    background: #444;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.email:hover {
    -webkit-box-shadow: inset 0 -100px #000s;
    box-shadow: inset 0 -100px #000;
}

.first-icons {
    height: 5rem;
}

.brief {
    padding: 1rem 1.2rem 2vw 1.2rem !important;
    margin: 1vw 0 !important;
    /*
    padding-top: 1rem !important;
    padding-bottom: 2vw !important;
*/
}

.green3-ul {
    -webkit-box-shadow: inset 0 -5px var(--accent);
    box-shadow: inset 0 -5px var(--accent);
}

.border-top-bot {
    background: #f1f1f1;
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
}

.range {
    width: 1%;
    margin: 5px 3px;
    background: #e1e1e1;
    height: 5px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


.skill {
    height: 5px;
    background: transparent;
    /*    position: absolute;*/
}

#html {
    background: #00dfa9;
    width: 96%;
}

#css {
    background: #00dfa9;
    width: 93%;
}

#js {
    background: var(--mycol-1);
    width: 30%;
}

#jq {
    background: var(--mycol-1);
    width: 45%;
}

#ai {
    background: #00a1b1;
    width: 94%;
}

#ps {
    background: #00a1b1;
    width: 90%;
}

#oth {
    background: #ea3d0f;
    width: 13%;
}

#oth2 {
    background: var(--mycol-2);
    width: 100%;
}

/*frame*/
.st0 {
    fill: none;
    stroke: #D1D1D1;
    stroke-miterlimit: 10;
}

/*text*/
.st1 {
    fill: #616161;
}

/*radar*/
.st2 {
    fill: var(--mycol-1);
    fill-opacity: 0;
    stroke: var(--mycol-1);
    stroke-width: 3;
    stroke-miterlimit: 10;
    stroke-dasharray: 363;
    stroke-dashoffset: 363;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

/*radar inner hidden*/
.st3 {
    display: none;
    fill: var(--mycol-1);
    fill-opacity: 0.5;
    stroke: var(--mycol-1);
    stroke-width: 3;
    stroke-miterlimit: 10;
}

/*dots*/
.st4 {
    fill: var(--accent);
}

.footer-main {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: -1;
    background: var(--mycol-1);
    width: 100%;
    position: fixed;
    bottom: 0;
}

#arrow-up {
    position: relative;
    top: 3vw;
    width: 100%;
    margin: 0 auto;
    height: 14px;
}

#arrow-down {
    position: relative;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: 3vw;
    width: 100%;
    margin: 0 auto;
    height: 14px;
}

.arrow {
    display: inline;
    fill: none;
    stroke: var(--light3);
    stroke-miterlimit: 10;
}
