

@-webkit-keyframes simpleHoverY {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(-3px, 0px, 0);
        transform: translate3d(-3px, 0px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes simpleHoverY {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    50% {
        -webkit-transform: translate3d(-3px, 0px, 0);
        transform: translate3d(-3px, 0px, 0);
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes loaded {
    0% {
        stroke-dashoffset: 181.988;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes loaded {
    0% {
        stroke-dashoffset: 181.988;
    }

    100% {
        stroke-dashoffset: 0;
    }
}


@-webkit-keyframes loaded2 {
    0% {
        fill: #fff;
        stroke-dashoffset: 181.988;
        fill-opacity: 0;
    }
    90% {
        fill: #fff;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }
    100% {
        fill: #fff;
        stroke-dashoffset: 0;
      fill-opacity: 1;
    }
}


@keyframes loaded2 {
    0% {
        fill: #fff;
        stroke-dashoffset: 181.988;
        fill-opacity: 0;
    }
    90% {
        fill: #fff;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }
    100% {
        fill: #fff;
        stroke-dashoffset: 0;
      fill-opacity: 1;
    }
}

@-webkit-keyframes loaded4 {
    0% {
        fill: #fff;
        stroke-dashoffset: 878.7;
        fill-opacity: 0;
    }
    90% {
        fill: #fff;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }
    100% {
        fill: #fff;
        stroke-dashoffset: 0;
      fill-opacity: 1;
    }
}

@keyframes loaded4 {
    0% {
        fill: #fff;
        stroke-dashoffset: 878.7;
        fill-opacity: 0;
    }
    90% {
        fill: #fff;
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }
    100% {
        fill: #fff;
        stroke-dashoffset: 0;
      fill-opacity: 1;
    }
}

@-webkit-keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



@-webkit-keyframes loaded3 {
    0% {
        -webkit-transform: translateY(-64px);
        transform: translateY(-64px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes loaded3 {
    0% {
        -webkit-transform: translateY(-64px);
     transform: translateY(-64px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes loaded5 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loaded5 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes filling {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        fill-opacity: 1;
    }

    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        fill-opacity: 0.3;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        fill-opacity: 1;
    }
}

@keyframes filling {
    0% {
        fill-opacity: 1;
    }

    50% {
        fill-opacity: 0.3;
    }

    100% {
        fill-opacity: 1;
    }
}

@-webkit-keyframes loaded6 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes loaded6 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}