.bluegreen {
    background-color: var(--mycol-1) !important;
}

.bluegreen-text {
    color: var(--mycol-1) !important;
}

.greenblue {
    background-color: var(--accent-2) !important;
}

.greenblue-text {
    color: var(--accent-2) !important;
}

.green3 {
    background-color: var(--accent);
}

.green3-text {
    color: var(--accent);
}

.blue3 {
    background-color: var(--mycol-2) !important;
}

.blue3-text {
    color: var(--mycol-2) !important;
}

.light3 {
    background-color: var(--light3);
}

.light3-text {
    color: var(--light3);
}

.dark3 {
    background-color: var(--dark3);
}

.dark3-text {
    color: var(--dark3);
}

.orange3 {
    background-color: var(--orange3) !important;
}

.orange3-text {
    color: var(--orange3) !important;
}