nav {
    color: #fff;
    background-color: transparent;
    width: 100%;
    height: 64px;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 64px;
  }
  
  nav ul a:hover {
    background: transparent;
  }
  
  .sidenav {
    height: 100%;
    width: 70%;
    padding-top: 64px;
    background: linear-gradient(-45deg, var(--mycol-1) 0%, #00bfa9e3 50%, var(--mycol-2) 200%);
    z-index: 998;
  }
  
  .navbar-fixed {
    width: 100%;
    position: fixed;
    height: 64px;
    z-index: 999;
    color: #fff;
    background: transparent;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
  }
  
  .navbar-fixed.scrolled {
    background-color: var(--mycol-1);
    background: linear-gradient(-45deg, var(--mycol-1) 31%, var(--mycol-2) 200%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--mycol-1)', endColorstr='var(--mycol-2)', GradientType=1);
  }
  
  #navbar .scrolled .brand-name {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 0 !important;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  
  #navbar .scrolled #logo-svg {
    -webkit-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
    opacity: 1 !important;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  
  .brand-logo {
    top: -64px;
    overflow: hidden;
    -webkit-transition: top 200ms ease-in-out;
    transition: top 200ms ease-in-out;
  }
  
  .brand-logo #logo-svg {
    -webkit-transition-duration: 250ms !important;
    transition-duration: 250ms !important;
    -webkit-transition: -webkit-transform opacity ease-in-out;
    transition: -webkit-transform opacity ease-in-out;
    transition: transform opacity ease-in-out;
    transition: transform opacity ease-in-out, -webkit-transform opacity ease-in-out;
    -webkit-transform: translateY(64px);
    transform: translateY(64px);
    opacity: 0;
    height: 64px;
    margin: auto;
  }
  
  .brand-logo .brand-name {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
    -webkit-transition-duration: 300ms !important;
    transition-duration: 300ms !important;
    opacity: 1;
    -webkit-transform: translateY(64px);
    transform: translateY(64px);
    -webkit-transition: -webkit-transform opacity ease-in-out;
    transition: -webkit-transform opacity ease-in-out;
    transition: transform opacity ease-in-out;
    transition: transform opacity ease-in-out, -webkit-transform opacity ease-in-out;
    margin: auto;
  }
  
  .sidenav li > a {
    color: #fff;
  }
  
  .sidenav li > a:hover {
    background-color: rgba(0, 255, 169, 0.18);
  }
  
  .sidenav li .nav-list.active {
    background-color: rgba(0, 255, 169, 0.18);
  }
  
  .nav-list {
    text-transform: uppercase;
    margin: auto;
  }
  
  #nav-cont {
    float: right;
    width: 33%;
  }
  
  .nav-cont {
    float: right;
  }
  
  @media only screen and (min-width: 992px) {
    nav a.button-collapse {
      display: none;
    }
  }
  
  nav .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 64px;
    width: 64px;
  }
  
  nav #big-nav {
    position: relative;
    top: -0.5px;
  }
  
  nav #big-nav li {
    float: left;
    list-style: none;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    padding: 0;
  }
  
  nav #big-nav li:hover {
    color: #fff;
    -webkit-box-shadow: inset 0 -4px #fff;
    box-shadow: inset 0 -4px #fff;
  }
  
  nav #big-nav li:hover a {
    color: #fff;
  }
  
  #big-nav li a.active {
    will-change: left, right;
    color: #fff;
    -webkit-box-shadow: inset 0 5px var(--accent);
    box-shadow: inset 0 5px var(--accent);
  }
  
  nav #big-nav li a {
    color: #efefef;
    font-size: 1rem;
    display: block;
    padding: 0 15px;
  }
  
  @media only screen and (min-width: 601px) {
    nav a.sidenav-trigger {
      display: none;
    }
  }
  
  .sidenav-trigger {
    margin-top: -3px !important;
    margin-left: 8px !important;
  }
  
  .sidenav-trigger:after {
    content: 'MENU';
    font-size: 0.7em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 1rem;
  }
  
  navbar {
    -webkit-transform: translateY(-64px);
    transform: translateY(-64px);
  }
  
  body.loaded navbar {
    -webkit-animation: loaded3 0.5s ease-in;
    animation: loaded3 0.5s ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  
  .menu-2 {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .menu-2:before,
  .menu-2:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .menu-2:before,
  .menu-2:after {
    background-color: #fff;
    height: 4px;
    width: 30px;
    top: 50%;
    left: 50%;
    margin-left: -15px;
  }
  
  .menu-2:before {
    margin-top: -6px;
  }
  
  .menu-2:after {
    margin-top: 4px;
  }
  
  .menu-2-active {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .menu-2-active:before,
  .menu-2-active:after {
    margin-left: -15px !important;
    margin-top: -2px !important;
  }
  
  .menu-2-active:after {
    -webkit-transform: rotate(-90deg) !important;
    transform: rotate(-90deg) !important;
  }
  /*# sourceMappingURL=nav.css.map */